<a href="https://colab.research.google.com/github/suhashj/Machine-Learning-projects/blob/main/heartDiseasePrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
label_encoding = preprocessing.LabelEncoder()
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
df=pd.read_csv("datasets/heart.csv")

In [ ]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [ ]:
df.columns

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [ ]:
for i in df.columns:
    print(i,len(df[i].unique()))

Age 50
Sex 2
ChestPainType 4
RestingBP 67
Cholesterol 222
FastingBS 2
RestingECG 3
MaxHR 119
ExerciseAngina 2
Oldpeak 53
ST_Slope 3
HeartDisease 2

In [ ]:
df.dtypes

Age                 int64
Sex                object
ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object

In [ ]:
df['Sex']=pd.get_dummies(df['Sex'],drop_first=True)
df['ChestPainType']=pd.get_dummies(df['ChestPainType'])
df['RestingECG']=pd.get_dummies(df['RestingECG'])
df['ST_Slope']=pd.get_dummies(df['ST_Slope'])
df['ExerciseAngina'] = label_encoding.fit_transform(df['ExerciseAngina'])

In [ ]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,0,140,289,0,0,172,0,0.0,0,0
1,49,0,0,160,180,0,0,156,0,1.0,0,1
2,37,1,0,130,283,0,0,98,0,0.0,0,0
3,48,0,1,138,214,0,0,108,1,1.5,0,1
4,54,1,0,150,195,0,0,122,0,0.0,0,0

In [ ]:
df.describe()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,0.789760,0.540305,132.396514,198.799564,0.233115,0.204793,136.809368,0.404139,0.887364,0.068627,0.553377
std,9.432617,0.407701,0.498645,18.514154,109.384145,0.423046,0.403770,25.460334,0.490992,1.066570,0.252957,0.497414
min,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,60.000000,0.000000,-2.600000,0.000000,0.000000
25%,47.000000,1.000000,0.000000,120.000000,173.250000,0.000000,0.000000,120.000000,0.000000,0.000000,0.000000,0.000000
50%,54.000000,1.000000,1.000000,130.000000,223.000000,0.000000,0.000000,138.000000,0.000000,0.600000,0.000000,1.000000
75%,60.000000,1.000000,1.000000,140.000000,267.000000,0.000000,0.000000,156.000000,1.000000,1.500000,0.000000,1.000000
max,77.000000,1.000000,1.000000,200.000000,603.000000,1.000000,1.000000,202.000000,1.000000,6.200000,1.000000,1.000000

In [ ]:
df['Oldpeak'].drop

<bound method Series.drop of 0      0.0
1      1.0
2      0.0
3      1.5
4      0.0
      ...
913    1.2
914    3.4
915    1.2
916    0.0
917    0.0
Name: Oldpeak, Length: 918, dtype: float64>

In [ ]:
X=df.drop('HeartDisease',axis=1)
y=df['HeartDisease']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lr=LogisticRegression()

In [ ]:
lr.fit(X_train,y_train)
preds=lr.predict(X_test)

/usr/share/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
classification_report(y_test,preds)

'              precision    recall  f1-score   support\n\n           0       0.76      0.84      0.80        77\n           1       0.88      0.81      0.84       107\n\n    accuracy                           0.83       184\n   macro avg       0.82      0.83      0.82       184\nweighted avg       0.83      0.83      0.83       184\n'

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
a=accuracy_score(y_test,preds)

In [ ]:
print("Therefore our Model is",a*100,"%    accurate")

Therefore our Model is 82.6086956521739 %    accurate

In [ ]:
from sklearn.metrics import f1_score

In [ ]:
print('F1 Score: %.3f' % f1_score(y_test, preds))

F1 Score: 0.845